html{
    height: 100%;
    width: 100%;
}
.container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1500px!important;
}
main {
    width: 100%;
    height: 100%;
}
.masthead {
  font-family: 'Montserrat', sans-serif !important;
  height: 50px;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  height:100%;
  width: 100%;
}
.row{
  margin: 0px !important;
}
@font-face {
  font-family: Montserrat;
  src: url('/font/Montserrat-Regular.ttf');
}
.mcheadder{
  font-family: Montserrat !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color:rgba(0, 0, 0, 0.4);
  padding:8px;
}
.maintext{
  text-align: center;
  font-size: 20px !important;
  font-family: Montserrat !important;
  color:black!important;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  height: 100%;
}
.navbar-brand{
  font-family: Montserrat !important;
  color:black!important;
}
.navbar-link{
  font-family: Montserrat !important;
  color:black!important;
}
.image-containter {
    margin: auto;
    display: flex;
    width: 100vh;
    height: 75vh;
}
.image-box {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    position: absolute;
    }
    .image {
        width: 70vh;
        height: 75vh;
        background: url(/img/main.jpg);
        background-size: cover;
        background-position: center;

    }
    .imageabout {
      width: 100%;
      height: 75vh;
      background: url(/img/placeholderpfp.jpg);
      background-size: cover;
      background-position: center;
  }
    .text {
        width: 100%;
        height: 100vh;
        display: flex;
        position: absolute;
    }
    .text-box {
        position: relative;
        max-width: 800px;
        width: 100%;
        height: 85vh;
        margin: auto;
    }
    .text-box-2 {
        float: right;
        width: 50%;
        height: 75vh;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .text-designer {
        width: 100%;
    }
    .text-designer-sub {
        display: flex;
        align-items: center;
        width: 40vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
    .text-links a {
        line-height: 1;
        margin: 0;
        font-size: 8vh;
        font-weight: 800;
        color: transparent;
        -webkit-text-stroke: 1.5px #F44336;
        text-decoration: none;
        text-transform: uppercase;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .text-designer p {
        line-height: 1;
        margin: 0;
        font-size: 9vh;
        font-weight: 700;
        color: black;
    }
      .text-links a:hover{
        color: #F44336;
        -webkit-text-stroke: 0px #F44336;
      }
      .text-links a::selection{
        color: transparent;
        -webkit-text-stroke: 1px black;
      }
      .container-left {
        width: 65%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container-left-1 {
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
  }
    .container-right {
      width: 45%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  #title-text {
    color: transparent;
    -webkit-text-stroke: 1.5px #F44336;
}

.more-info {
  font-size: 19px!important;
}
.projects-title{
  width: auto;
  display: flex;
  height: 111px;
}
.projects-title p{
  margin: 0;
  font-size: 100px;
  font-weight: 900;
  margin: auto;
  width: 100%;
}
.projects{
  width: 100%;
  max-width: 550px;
  height:auto;
}
.projects p{
  color: black;
  margin: 0px;
  font-weight: 500;
  font-size: 28px;
}
.contact-email p {
  font-weight: 800;
  color: transparent;
  font-size: 5vh;
  -webkit-text-stroke: 1.5px #F44336;
  line-height: 4.5vh;
}
.projects a {
  color: transparent;
  font-size: 4vh;
  transition: 0.2s all ease-in-out;
  -webkit-text-stroke: 1.5px #F44336;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
}
.contact-linkedin {
  width: 100%;
  margin: auto;

}
a {
  background-color: transparent;
}

::selection {
  color: #F44336;
}
.container{
  height: 100%;
  width: 100%;
}
.margindiv{
  padding-left: 2em;
  padding-right: 2rem;
}
.box-image{
  padding: 4vh;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 950px) {
  .box-image {  
    display: none;
   }
 }
 @media only screen and (max-width: 700px) {
  .container-left {
    display: none;
  }
  .container-right{
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .text-box-2 {
    float: left;
    width: 80%;
    
  }
  .image-box{
    border-right-width: 15px;
    right: 0px;
    width: auto;
  }
  .image-containter{
    width: 100%;
  }
  .image{
  }
}