.top-tab{
    display:none;
    z-index:3;
    width:100%; 
    margin:auto;
    position:fixed;
    display:flex;
    justify-content:flex-end;
    font-family: "Poppins",sans-serif;
  }
  .top-tab-box{
    position:relative;
    width:100%;
    max-width:400px;
    height:25px;
    margin-top: 25px;
    display:flex;
   
    color:black;
    font-size:14px;
    font-weight:500;
    text-transform:uppercase;
  }
  .tab-home,.tab-aboutme,.tab-projects,.tab-contact{
    text-align:center;
    margin-left:15px;
    margin-right:15px;
    height:25px;
    opacity:1;
  }
  .top-tab-box a{
    transition:0.2s ease-in-out color;
    outline: none; 
  }
  .top-tab-box a:link{
    color: black;
    text-decoration:none;
  }
  .top-tab-box a:visited{color: black;}
  .top-tab-box a:hover{
    transition: 0.2s cubic-bezier(0.22, 0.61, 0.36, 1) color;
    color:#F44336;
    border-bottom:0px #F44336 solid;
  }
  .top-tab-box a:focus{
    color:#F44336;
    border-bottom:0px #F44336 solid;
  }
  .top-tab-box a:active{color:#F44336;}
  .tab-home a::selection,.tab-aboutme a::selection,.tab-projects a::selection,.tab-contact a::selection{
  text-decoration: none;}
  
  
  /*RESPONSIVE Version */
  @media only screen and (max-width: 600px) {
  .top-tab{
    z-index:10;
    width:100%;
    margin:auto;
    padding-top:15px;
    height:35px;
    position:fixed;
  }
  .top-tab-box{
    position:relative;
    width:95%;
    max-width:100%;
    height:35px;
    margin:auto;
    display:flex;
    justify-content:space-between;
  } 
  .tab-home,.tab-aboutme,.tab-projects,.tab-contact{
    align-items:center;
    height:26px;
   
    text-transform:uppercase;
    font-size:14px;
    font-weight:600;
    letter-spacing:0.1em;
    cursor:pointer;
    opacity:1;
    transition:0.2s ease-in border-bottom;
    margin-left:15px;
    margin-right:15px;
  }
  }
  /*RESPONSIVE version */
  
  